.profile-page-container {
  max-width: 975px;
  padding: 30px 20px;
  margin: 0 auto;
}

.profile-page-infocontainer {
  display: flex;
  margin-bottom: 44px;
}

.profile-page-avatar {
  flex: 1 0 0;
  display: flex;
  justify-content: center;
  margin-right: 40px;
}

.profile-page-avatar img {
  border-radius: 50%;
}

.profile-page-userinfo {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  flex-basis: 30px;
  flex-shrink: 1;
  justify-content: space-evenly;
  overflow: hidden;
}

.profile-page-info-header {
  display: flex;
  align-items: center;
  line-height: 1;
  flex-shrink: 1;
}

.profile-page-info-header h1 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.follow-button {
  padding: 0 24px;
  background-color: rgb(0, 149, 246);
  border: none;
  outline: none;
  border-radius: 4px;
  color: white;
  height: 100%;
  font-weight: 600;
  margin-left: 20px;
  margin-right: 8px;
  cursor: pointer;
}

.unfollow-button {
  padding: 0 24px;
  background-color: none;

  border: 1px solid rgb(219, 219, 219);
  outline: none;
  border-radius: 4px;
  color: #262626;
  height: 100%;
  font-weight: 600;
  margin-left: 20px;
  margin-right: 8px;
  cursor: pointer;
}

.profile-page-stats li {
  margin-right: 40px;
  font-size: 16px;
  display: inline-block;
}

.profile-page-stats li span {
  font-weight: 600;
}

.profile-page-media-container {
  border-top: 1px solid #e0e0e0;
}

.profile-page-media-options {
  display: flex;
  justify-content: center;
  height: 56px;
  align-items: center;
  color: #8e8e8e;
}

.profile-page-media-options span {
  margin-right: 60px;
  font-size: 12px;
  cursor: pointer;
}

.selected {
  color: rgb(38, 38, 38);
  font-weight: 700;
}
