* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

body {
  background-color: rgb(250, 250, 250);
  color: #262626;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  font-size: 14px;
}

h1 {
  font-size: 28px;
  font-family: inherit;
  font-weight: 300;
}

h2 {
  font-size: 16px;
  color: #262626;
  font-weight: 500;
}

li {
  list-style: none;
}

input,
textarea,
button {
  font-family: inherit;
  font-size: inherit;
}
